*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1110px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}


.header{
    background:rgba(50, 57, 65, 1);
    color: white;
}
.header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box{
    display: flex;
    gap: 24px;
    padding: 13px 84px 13px 0;
}

.header-text{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.header-img1{
    padding-right: 13px;
}

.header-text2{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
}

/*header end*/

.first{
    background: rgba(255, 255, 255, 1);
    padding: 18px 0 20px;
}
.first-block{
    display: flex;
    justify-content: space-between;
}
.first-right-box{
    margin-top: -55px;
}

.first-img2{
    position: relative;
    right: 80px;
    top: 60px;
}

.first-text{
    color: rgba(50, 57, 65, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
}

.first-text2{
    color: rgba(0, 158, 255, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: lowercase;
}

/*first end*/

.three{
    background: rgba(50, 57, 65, 1);
    padding: 10px 0;
}

.three-block{
    display: flex;
    justify-content: space-between;
}

.three-text{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

/*three end*/

.four{
    background: rgba(0, 158, 255, 1);
    padding: 10px 0;
}

.four-text{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

/*four end*/

.five{
    background: rgba(255,255,255,1);
    padding-top: 17px;
}
.five-block{
    display: flex;
}


.five-btn{
    border: 2px solid rgba(106, 205, 104, 1);
    background: rgb(255, 255, 255);
    color:rgb(106, 205, 104) ;
    padding: 5px 10px;
}
.five-text{
    margin-top: 11px;
    color:  rgba(50, 57, 65, 1);
    font-size: 80px;
    font-weight: 700;
    line-height: 87.3%;
    text-align: left;
    text-transform: uppercase;
}
.five-left-box2{
    border: 2px solid  rgba(153, 153, 153, 1);
    padding: 23px 20px;
    display: inline-block;
    margin-top: 20px;
}

.five-left-text2{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

.five-left-btn2{
    border: 1px solid  rgba(153, 153, 153, 1);
    background: rgb(255, 255, 255);
    padding: 10px 40px;
    margin: 8px 0 27px;
}

.five-box14{
    display: flex;
}
.five-text14{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:  rgba(0, 158, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding: 0 41px 0 31px ;
}

.first-right-box2{
    display: flex;
    justify-content: center;
}


.five-left-btn3{
    flex-direction: row;
    align-items: center;
    background:  rgba(0, 158, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 50px;
    border: none;
}


.five-left-btn4{
    flex-direction: row;
    align-items: center;
    background:  rgba(0, 158, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 50px;
    margin: 27px 22px 0 0;
    border: none;
}

.five-box17-box{
    display: flex;
    margin-top: -25px;
}
.five17{
    flex-direction: row;
    align-items: center;
    color: rgba(153, 153, 153, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.five17-2{
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 8px;
}
span{
    color: royalblue;
}

/*five end*/

.six{
    padding: 41px 0 10px;
    background: rgba(255, 255, 255, 1);
}

.six-block{
    display: flex;
    gap: 71px;
    justify-content: space-between;
}

.six-box,.six-box-blue{
    display: flex;
}

.six-img{
    height: 37px;
}
.six-text{
    padding-left: 16px;
    color: rgba(153, 153, 153, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    flex-direction: row;
    align-items: center;
}
.six-box-blue{
    background: rgba(0, 158, 255, 1);
    padding: 7px 47px 12px 19px;
}
.six-text-blue{
    color: white;
    padding-left: 16px;
}
.six-block2{
    display: flex;
    padding-top: 11px;
    background: rgba(153, 153, 153, 1);
    justify-content: space-between;
}

.six-box-left{
    padding: 27px 0 27px 23px;
}

.six-title-left{
    color:  rgba(50, 57, 65, 1);
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.six-text-left{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    flex-direction: row;
    align-items: center;
}

/*six end*/

.seven{
    padding: 63px 0 39px;
    background: linear-gradient(0.00deg, rgba(238, 238, 238, 1),rgba(245.35, 245.35, 245.35, 0.79) 43.809%,rgba(255, 255, 255, 0) 82.465%);
}
.seven-block{
    display: flex;
   justify-content: space-between;
}
.seven-text-left{
    color: rgba(50, 57, 65, 1);
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
}


.seven-box-right{
    display: flex;
}

.seven-img-right2{
    position:relative;
    right: 300px;
    transform: rotate(5.49deg);
    border-radius: 31px;
}
.seven-img-right{
    position: relative;
    left: 180px;
    width: 453px;
    height: 453px;
}
/*seven end*/


.eight{
    padding: 63px 0 80px;
    background: rgba(255, 255, 255, 1);
}

.eight-text{
    color: rgba(50, 57, 65, 1);
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: center;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    padding-bottom: 31px;
}


.eight-box-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eight-box{
    text-align: center;
    align-items: center;
    padding-bottom: 48px;
}

.eight-text2{
    color: rgba(50, 57, 65, 1);
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    padding:20px 0 16px ;
}

.eight-text-3{
    color: rgba(153, 153, 153, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: center;
    padding-bottom: 10px;
}

.eight-text-4{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-bottom: 14px;
}
.eight-btn{
    color: rgba(198, 198, 198, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: center;
    border: 1px solid rgba(198, 198, 198, 1);
    cursor: pointer;
    padding: 10px 20px;
}
.eight-btn2{
    font-size: 13px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: center;
    background: rgba(0, 158, 255, 1);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.eight-btn-btn{
    margin: 50px 0 0 450px;
    font-size: 16px;
    background: rgba(0, 158, 255, 1);
    color: white;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    width: 229px;
    text-align: center;
}
/*eight end*/

.nine-box{
    background: url("../assets/img/38.png");
    align-items: center;
    width: 1176px;
    height: 724px;
}
/*nine end*/

.ten{
    padding: 63px 0 73px ;
    background: rgba(245, 245, 245, 1);
}

.ten-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 82px;
}

.ten-box-box {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.ten-box{
    padding-bottom: 28px;
}

.ten-text{
    color: rgba(0, 158, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}

.ten-text2{
    color:rgba(153, 153, 153, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.ten-img2{
    width: 90px;
    height: 90px;
    transform: rotate(-180.00deg);
}
/*ten end*/

.eleven{
    background: rgba(14, 14, 22, 1);
}

.eleven-block{
    display: flex;
}

.eleven-title{
    color:rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 153px;
}


.eleven-text{
    color: rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding: 18px 0 152px;
}

.eleven-img-right{
    width: 800px;
    height: 500px;
}
/*eleven end*/

.twelve{
    background: rgba(255, 255, 255, 1);
}

.twelve-block{
    display: flex;
}

.twelve-img-left{
    width: 700px;
    height: 450px;
}

.twelve-title-right{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 150px;
}

.twelve-text{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-bottom: 146px;
}
/*twelve end*/

.thirteen{
    background: rgba(14, 14, 22, 1);
}
.thirteen-block{
    display: flex;
}

.thirteen-title{
    color: rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 150px;
}
.thirteen-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    flex-direction: row;
    align-items: center;
    color: white;
}

.thirteen-img-right{
    width: 600px;
    height: 600px;
}

.fourteen{
    background: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 75px 0;
}
.fourteen-title{
    color: rgba(0, 0, 0, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.fourteen-text{
    color: rgba(0, 0, 0, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-bottom: 30px;
}

/*fourteen end*/

.fifteen{
    background: rgba(14, 14, 22, 1);
}

.fifteen-block{
    display: flex;
}

.fifteen-title{
    color:  rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding: 67px 0 18px;
}

.fifteen-text{
    color: rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-bottom: 24px;
}

.fifteen-img-right{
    width: 500px;
    height: 350px;
}

/*fifteen end*/


.sixteen{
    background: rgba(255, 255, 255, 1);
}

.sixteen-block{
    display: flex;
}

.sixteen-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding: 80px 0 18px;
}
.sixteen-text{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-bottom: 160px;
}
.sixteen-img-left{
    width: 690px;
    height: 500px;
}
/*sixteen end*/

.seventeen{
    background: rgba(14, 14, 22, 1);
}
.seventeen-block{
    display: flex;
}

.seventeen-title{
    color:  rgba(255, 255, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding: 191px 0 18px;
}

.seventeen-text{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-bottom: 190px;
}

.seventeen-img-right{
    width: 690px;
    height: 600px;
}

.eighteen{
    background: rgba(245, 245, 245, 1);
    padding: 90px 0;
}
.eighteen-block{
    display: flex;
    border: 5px solid rgba(0, 158, 255, 1);
    background: rgba(255, 255, 255, 1);
    justify-content: space-between;
}

.eighteen-img-left{
   padding-right: 50px;
   margin-left:-150px ;

}

.eighteen-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding: 38px 0 17px;
}
.eighteen-box-right{
    text-align: center;
    padding-right: 52px;
}
.box-eighteen-box{
    display: flex;
}
.eighteen-block2{
    display: flex;
    gap: 12px;
}
.eighteen-img-right{
    width: 35px;
    height: 30px;
    padding-right: 5px;
}

.eighteen-text-right{
    color:  rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 119.3%;
    text-align: left;
}


.eighteen-btn{
    width: 228px;
    height: 38px;
    background: #4b75ff;
    color: white;
    border: none;
   margin: 30px 330px 0 0;
    cursor: pointer;
}

/*eighteen end*/

.nineteen{
    background: rgba(255, 255, 255, 1);
    padding: 94px 0 93px;
}

.nineteen-block{
    display: flex;
    justify-content: space-between;
    padding-top: 73px;
}

.nineteen-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.nineteen-text{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-top: 18px;
}

.nineteen-img{
    width: 200px;
    height: 200px;
}

.title-nineteen{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 18px;
}
.nineteen-box-box2{
    padding: 28px 0 8px;
    display: flex;
}

.nineteen-img2{
    width: 18px;
    height: 14px;
}
.nineteen-text2{
    color: rgba(0, 158, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 8px;
}

.fourteen-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:8px 60px 0 0;
}
.box12{
    display: flex;
    padding: 18px 0;
}

.fourteen-img3{
    width: 13px;
    height: 18px;
    padding-top: 5px;
}
.fourteen-text3{
    color: rgba(0, 158, 255, 1);
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 8px;
}

.fourteen-text-3{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-left: -20px;
}

.block-box-fourteen2{
    display: flex;
    justify-content: space-between;
    padding: 88px 0 121px;
}

.box-fourteen2-text{
    flex-direction: row;
    align-items: center;
    color: rgba(50, 57, 65, 1);
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;

}

.box-fourteen-btn{
    width: 200px;
    height: 50px;
    background: #0e7aff;
    color: white;
    cursor: pointer;
    border: none;
}


.block-block{
    box-sizing: border-box;
    border: 5px solid  rgba(0, 158, 255, 1);
    display: flex

}

.box-img-img{
    width: 369px;
    height: 281px;
    padding: 30px 41px 15px 50px;
}


.title-box{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 35px ;
}

.text-box{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-top: 9px ;
}
/*nineteen end*/

.twenty{
    background: rgba(245, 245, 245, 1);
    display: flex;
    padding-bottom: 101px;
}
.twenty-block-block{
    display: flex;
    gap: 25px;
}
.twenty-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: center;
    text-transform: uppercase;
    padding: 64px 0 38px;
}

.twenty-block{
    border: 3.31px solid  rgba(0, 158, 255, 1);
    background: rgba(255, 255, 255, 1);
}
.twenty-box{
    padding: 56px 8px;
}



.twenty-block2{
   padding-top: 150px;
}

/*twenty end*/

.twenty-one{
    background: linear-gradient(0.00deg, rgba(238, 238, 238, 1),rgba(245.35, 245.35, 245.35, 0.79) 43.809%,rgba(255, 255, 255, 0) 82.465%),rgba(255, 255, 255, 0.2);
    padding-top: 63px;
}

.twenty-one-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.twenty-one-img-right{
    position: relative;
    left: 150px;
    padding-top: 68px;
}
.twenty-one-title{
    color:  rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 119.3%;
    text-align: center;
    text-transform: uppercase;
}
.twenty-one-text{
    color:rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}


.box-twenty-one{
    position: relative;
    left: 250px;
}

.twenty-one-left-img2,.twenty-one2-left-img2{
    position: relative;
    left: 250px;
}

.twenty-one2-left-img2{
    position: relative;
    top: 10px;
}
/*twenty-one end*/

.five-box172{
    padding-top: 30px;
}

.five-img5{
    width: 1462px;
    height: 290px;
}

/*five end*/

.finish{
    padding: 130px 0 60px;
    background: rgba(255, 255, 255, 1);
}
.finish-title{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 21px;
}

.finish-text{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding-bottom: 49px;
}


.finish-box-box{
    display: flex;
    justify-content: space-between;

}

.finish-img{
    width: 123.02px;
    height: 133px;
}

.finish-title2{
    color: rgba(50, 57, 65, 1);
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.finish-text{
    color: rgba(50, 57, 65, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.finish-btn{
    box-sizing: border-box;
    border: 1px solid rgba(198, 198, 198, 1);
    padding: 10px 20px;
    color: gray;
}

.finish-btn1{
    padding: 10px 20px;
    background: #0e7aff;
    cursor: pointer;
    border: none;
    color: white;
}


.finish-title2{
    color: rgba(50, 57, 65, 1);
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.finish-text2{
    color: rgba(50, 57, 65, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.finish-img2{
   color: rgba(196, 196, 196, 1);
    cursor: pointer;
}
.finish-box2{
    text-align: center;
    box-sizing: border-box;
    border: 3px solid  rgba(0, 158, 255, 1);
}









